@font-face {
    font-family: "Simpsons";
    /*Can be any text*/
    src: local("Simpsonfont"),
        url("../../fonts/Simpsonfont.ttf") format("truetype");
}

.App {
    text-align: center;
}

.logo {
    height: 40vmin;
    /* pointer-events: none; */
    cursor: pointer;
}

/* @media (prefers-reduced-motion: no-preference) {
    .logo {
        animation: logo-spin infinite 20s linear;
    }
} */

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

/* @keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
} */

/* @keyframes blink-animation {
    to {
        visibility: hidden;
    }
} */


#enterGame {
    /* font-family: 'Press Start 2P';font-size: 22px; */
    font-family: 'ArcadeClassic', cursive;
    font-size: 32px;
    background: repeating-linear-gradient(to bottom, #0f0a1e, #0f0a1e 2px,
            lighten(#0f0a1e, 3%) 2px,
            lighten(#0f0a1e, 3%) 4px);
    position: fixed;
    top: 70%;
    left: 0;
    bottom: 0;
    right: 0;
    height: 90px;
    color: white;
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 5px;
    text-shadow: -2px 0 0 #fdff2a, -4px 0 0 #df4a42, 2px 0 0 #91fcfe, 4px 0 0 #4405fc;
    /* animation: blink-animation 1s steps(4, start) infinite; */
    cursor: pointer;
}

#simpson {
    font-family: "Simpsons";
    color: rgb(255, 204, 0);
}
