.splash-container {
  text-align: center;
}

.splash-header {
  background-image: url("../../assets/img/splash.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-size: 100% 100%;
}

.logo {
  height: 35vmin;
  width: 35vmin;
  pointer-events: all;
  position: relative;
  top: 5%;
  opacity: 95%;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 50s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#enterGame {
  font-family: "ArcadeClassic", cursive;
  font-size: 200%;
  background: repeating-linear-gradient(
    to bottom,
    #0f0a1e,
    #0f0a1e 2px,
    lighten(#0f0a1e, 3%) 2px,
    lighten(#0f0a1e, 3%) 4px
  );
  position: fixed;
  top: 70%;
  left: 0;
  bottom: 0;
  right: 0;
  height: 90px;
  color: white;
  width: 100%;
  text-align: center;
  margin: auto;
  line-height: 40px;
  letter-spacing: 5px;
  text-shadow: -2px 0 0 #fdff2a, -4px 0 0 #df4a42, 2px 0 0 #91fcfe,
    4px 0 0 #4405fc;
  animation: blink-animation 1.5s steps(4, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

#simpson {
  padding: 1em;
  font-family: "ArcadeClassic", cursive;
  font-size: 2.3em;
  background: repeating-linear-gradient(
    to bottom,
    #0f0a1e,
    #0f0a1e 2px,
    lighten(#0f0a1e, 3%) 2px,
    lighten(#0f0a1e, 3%) 4px
  );
  position: fixed;
  top: -60%;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100px;
  color: white;
  width: 90%;
  text-align: center;
  margin: auto;
  line-height: 40px;
  letter-spacing: 0.125em;
  text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
  animation-duration: 0.0001s;
  animation-name: textflicker;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes textflicker {
  from {
    text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
  }

  to {
    text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
  }
}
